body {
    background: black;

    }

#estilonav {
position: fixed;
width: 100%;
z-index: 10;

}

#quienessomos {
    color: white;
    background-color: transparent;
}

#quienes1 {
    background-color: transparent;
    color: white;
}

#quienes2 {
    background-color: transparent;
    color: white;
}

#quienes3 {
    background-color: transparent;
    color: white;

}

#destacados {
    color: white;
    background-color: transparent;
}

#destacado1 .image-top{
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#destacado2 .image-top{
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#destacado3 .image-top{
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#destacado4 .image-top{
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}